allow permissioncontroller_app adbd_prop:file { open read getattr };
#allow permissioncontroller_app adsprpc_prop:file { open read getattr };
allow permissioncontroller_app apexd_prop:file { open read getattr };
allow permissioncontroller_app theme_prop:file { open read getattr };