# Initialization
on property:sys.boot_completed=1

# Set default profile on first boot
    exec u:r:init:s0 root root -- /vendor/bin/init.parallax.sh
    exec u:r:magisk:s0 root root -- /vendor/bin/init.parallax.sh

# Enable cpucore support
   setprop tcp.support 1

# TCP
# westwood
on property:persist.tcp.profile=0
    write /proc/sys/net/ipv4/tcp_congestion_control westwood
# cubic
on property:persist.tcp.profile=1
    write /proc/sys/net/ipv4/tcp_congestion_control cubic
# reno
on property:persist.tcp.profile=2
    write /proc/sys/net/ipv4/tcp_congestion_control reno
# bic
on property:persist.tcp.profile=3
    write /proc/sys/net/ipv4/tcp_congestion_control bic
# highspeed
on property:persist.tcp.profile=4
    write /proc/sys/net/ipv4/tcp_congestion_control highspeed
# htcp
on property:persist.tcp.profile=5
    write /proc/sys/net/ipv4/tcp_congestion_control htcp
# bbr
on property:persist.tcp.profile=6
    write /proc/sys/net/ipv4/tcp_congestion_control bbr
# cdg
on property:persist.tcp.profile=7
    write /proc/sys/net/ipv4/tcp_congestion_control cdg
# dctcp
on property:persist.tcp.profile=8
    write /proc/sys/net/ipv4/tcp_congestion_control dctcp
# hybla
on property:persist.tcp.profile=9
    write /proc/sys/net/ipv4/tcp_congestion_control hybla
# vegas
on property:persist.tcp.profile=10
    write /proc/sys/net/ipv4/tcp_congestion_control vegas
# nv
on property:persist.tcp.profile=11
    write /proc/sys/net/ipv4/tcp_congestion_control nv
# ip
on property:persist.tcp.profile=12
    write /proc/sys/net/ipv4/tcp_congestion_control ip
